* {
  box-sizing:border-box;
}

.col-1 {width:8.33%}
.col-2 {width:16.66%}
.col-3 {width:25%}
.col-4 {width:33.33%}
.col-5 {width:41.66%}
.col-6 {width:50%}
.col-7 {width:58.33%}
.col-8 {width:66.66%}
.col-9 {width:75%}
.col-10 {width:83.33%}
.col-11 {width:91.66%}
.col-12 {width:100%}

[class*="col-"] {
  float:left;
  padding:15px;
}

.row::after {
  content:"";
  clear:both;
  display:table;
}

body {
  margin: auto;
  width: 1020px;
}

h2 {
  clear: both;
}

.telescope {
  float: left;
  margin-right: 24px;
  margin-bottom: 24px;
}

.telescope_paragraph {
  padding-top: 18px;  
}

.heat {
  float:right;
  margin-left: 24px;
}

.heat_cup {
  float: left;
  margin-right: 24px;
  margin-bottom: 24px;
}

.cup_paragraph {
  padding-top: 28px;  
}

.orbit {
  float: left;
  margin-right: 24px;
  margin-bottom: 24px;
}

.orbit_paragraph {
  padding-top: 64px;  
}

.galaxy {  
  float:right;
  margin-left: 24px;
  margin-bottom: 24px;
  transition: transform 3s, padding-right 3s, width 3s;
}

.galaxy_paragraph {
  padding-top: 50px;
}

.galaxy:hover {
  transform: scale(1.5);
  padding-right: 75px;
  width:475px;
}

.holes {
  float: left;
  margin-right: 24px;
  margin-bottom: 24px;
}

