/*
color scheme:
Dark blue:
Lighest blue #336078
Ligher blue #19475F
Dark blue #083045
Darker blue #021E2D
Darkest blue #001018

Yellow:
Lightest Yellow #FFF2BF
Lighter Yellow #FFEA96
Yellow #EED369
Darker Yellow #CDB041
Darkest Yellow AA8E21
*/
@font-face {
    font-family:lora;
    src:url(lora.ttf);
}


body {
    background-image:url(stardust.png);
    background-color:#021E2D;
    color:#EED369;
    margin: 0;
    padding: 24px, 48px;
}

header {
    padding-top: 60px;
    height: 120px;
    background-image:url(science.png);
    background-repeat:repeat-x;
    background-position:center;
    margin-left:-48px;
    margin-right:-48px;
    margin-bottom:24px;
}

header p {
    height:82px;
    width:420px;
    background-color:#021E2D;
    color:#FFF2BF;
    font-size:46px;
    font-weight:bold;
    text-align:center;
    margin:auto;
    line-height:82px;
    border-radius:86px;
}

nav ul {
    margin:0;
    padding:0;
    list-style-type:none;
}

nav a:link, nav a:visited {
    display:block;
    background:color#021E2D;
    height:46px;
    width:180px;
    line-height:46px;
    border:#021E2D 2px solid;
    text-decoration:none;
    text-align:center;
    border-radius:24px;
    font-size:20px;
    font-weight:bolder;
}

nav a:hover {
    background-color:#FFF2BF;
    color:#001018;
}


a, a:link, a:visited {
    color:#FFF2BF;
    text-decoration:underline;
}

a:hover {
    color:#CDB041;
    text-decoration:none;
}

h1, h2, h3, h4, h5, h6 {
    size:default;
    color:#CDB041;
}

h1 {
    text-align: center;
}