/*Color scheme
orange  #FF7F5E  
blue    #5E73B2  #9FB6FF (light)
green   #82B246  #9ECC65 (light)
gray    #333  #777  #CCC (light)  
white   #FFF 
*/
@font-face {
  font-family: droid;
  src: url(droid_sans.ttf)
}

h2 {
  color: #5E73B2;
}

.leading {
  text-align:center;
  width:520px;
  margin: auto auto;
  border: #ff7f5e dashed 3px;
  padding: 12px 15px;
  font-family: droid; /*font-family: defines the font the text uses for its content*/
  box-shadow: 6px 2px 4px #ff7f5e; /*box-shadow: gives a box a drop shadow to help it pop, values ordered: left-right, up-down, blur, color*/
}

.leading h3 {
  text-shadow: 4px 4px 2px #ccc; /*text-shadow: gives a bit of text a drop shadow to help it pop*/
}

.article {
  box-shadow: 4px 4px 8px #ccc;
}

.testing {
  
}

.distributed {

}

.interleaved {

}

.interrogation {

}

.explain {
  
}
